{{ define "main" }}
  <article class="article">
    <a class="back-link" href="{{ "/blog/" | relURL }}">Назад в блог</a>
    <header>
      <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "02.01.2006" }}</time>
      <h1>{{ .Title }}</h1>
      <p>{{ .Description }}</p>
      {{ $image := .Params.image | default "/media/kurer.jpg" }}
      <img class="article-cover" src="{{ $image | relURL }}" alt="" loading="eager">
    </header>
    <div class="article-body">
      {{ .Content }}
    </div>
    {{ if eq .Section "blog" }}
      {{ partial "blog-registration-cta.html" (dict "page" . "compact" true) }}
    {{ end }}
  </article>
{{ end }}
